<!-- Navigation bar/header -->
<%- include('partials/header') %>

<!-- Body -->
<body>
<div class="container">
  <h1>About Me</h1>
  <img src="/images/3.jpg" alt="Profile Picture" class="profile-image" width="30%">
  <h2>Adilet Masalbekov</h2>
  <p>Hello! I'm Adilet. I am currently pursuing a degree in Software Engineering & AI program in Centennial College. Have successfully completed 1 year of education with a 4.17 GPA. Skilled in object-oriented programming, database management and interface design. Throughout my academic journey, I've undertaken a range of technical projects, often leading teams. My skills encompass a broad spectrum, from object-oriented programming and GUI design to creating web applications with a focus on user experience.</p>
  <a href="/files/resume.pdf" download class="btn btn-secondary">Download My Resume</a>
</div>
</body>

<!-- Footer -->
<%- include('partials/footer') %>