<!-- Navigation bar/header -->
<%- include('partials/header') %>

<!-- Body -->
<body>
<div class="container">
  <h1>Welcome to My Portfolio</h1>
  <p>Hi, I'm Adilet. I'm a passionate web developer with experience in designing and developing user-friendly websites. Explore my work and learn more about me.</p>
  
  <h2>Mission Statement</h2>
  <p>I am a student in Software Enginnering and AI course in Centennial College who always seeks new information and is happy to leearn something new. My mission is to develop in my field and make peoples lives better and of course earn a lot of money for that.</p>
  <a href="/about" class="btn btn-primary">Learn More About Me</a><br><br>

  <div class="row">
    <div class="col-md-6">
      <img src="/images/2.jpeg" alt="Description for Image 2" class="img-fluid">
    </div>
    <div class="col-md-6">
      <img src="/images/1.jpeg" alt="Description for Image 1" class="img-fluid">
    </div>
  </div>
</div>
</body>

<!-- Footer -->
<%- include('partials/footer') %>