<!-- Navigation bar/header -->
<%- include('partials/header') %>

<!-- Body -->
<body>
<div class="container">
  <h1>Projects</h1>
  
  <div class="row">

    <div class="col-md-4">
      <img src="/images/pr1.jpg" alt="Project 1" class="img-fluid">
      <h2>Electric & Self-driving cars</h2>
      <h4>Software Engineering Fundamentals course</h4>
      <p>Led a team of 5 people in a comprehensive study on electric and self-driving cars, delivering a presentation and a comprehensive report that addressed user stories, project tools, and key research findings on the topic. In this project we used and learned Agile Methodologies and other SDLC processes.</p>
    </div>

    <div class="col-md-4">
      <img src="/images/pr2.png" alt="Project 2" class="img-fluid">
      <h2>Car Rental Mobile Application</h2>
      <h4>Software Requirements Engineering course</h4>
      <p>In this project I spearheaded a group of 4 people to design a car rental mobile application, presenting a project enriched with UML diagrams, as well as use cases, functional/non-functional tables, and other related information. After this project I have learned much about software engineering principles and functionalities focusing on the Requirements phase.</p>
    </div>

    <div class="col-md-4">
      <img src="/images/pr3.png" alt="Project 3" class="img-fluid" width="80%">
      <h2>Car Dealership</h2>
      <h4>Introduction To Database course</h4>
      <p>Designed and implemented a bug smasher game using HTML, CSS, and JavaScript, prioritizing a user-friendly interface. The user should catch the bug by clicking on it and as he clicks, it runs faster and becomes harder to play. The points are added each time a user succesfully catches the bug. He is able to restart the score and the intensity.</p>
    </div>

  </div>
</div>
</body>

<!-- Footer -->
<%- include('partials/footer') %>