<!-- Navigation bar/header -->
<%- include('partials/header') %>

<!-- Body -->
<body>
<div class="container">
  <h1>Services</h1><br>
  
  <div class="service">
    <h2>Web Development</h2>
    <img src="/images/serv1.jpg" alt="Web Development" width="70%">
    <p>Building responsive and user-friendly websites tailored to your requirements.</p>
  </div><br>
  
  <div class="service">
    <h2>Programming</h2>
    <img src="/images/serv2.jpg" alt="Programming" width="70%">
    <p>Implementing many programs and tasks on C#, Python, Java, Javascript, HTML & CSS and Oracle SQL.</p>
  </div>
  
  <div class="service">
    <h2>Mobile App Development</h2>
    <img src="/images/serv3.jpg" alt="Mobile App Development" width="70%">
    <p>Designing and developing mobile applications for both Android and iOS platforms.</p>
  </div>
</div>
</body>

<!-- Footer -->
<%- include('partials/footer') %>
